<span class="sidebar">
    <h3>Menu</h3>
    <hr>
    <a href="settings">Settings</a>
    <a href="schedules">Schedules</a>
    <a href="results">Results</a>
    <a href="attend">Attendance</a>
</span>