<div class="side-max-width d-flex flex-column flex-shrink-0 p-3 bg-light">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
        <span class="fs-4">Sidebar</span>
    </a>
    <hr />
    <ul class="nav nav-pills flex-column">
    <li class="nav-item">
        <a href="https://getbootstrap.com/docs/5.0/examples/sidebars/#" class="nav-link active" aria-current="page">
        <svg class="bi me-2" width="16" height="16"></svg>
        Home
        </a>
    </li>
    <li>
        <a href="https://getbootstrap.com/docs/5.0/examples/sidebars/#" class="nav-link link-dark">
        <svg class="bi me-2" width="16" height="16"></svg>
        Dashboard
        </a>
    </li>
    <li>
        <a href="https://getbootstrap.com/docs/5.0/examples/sidebars/#" class="nav-link link-dark">
        <svg class="bi me-2" width="16" height="16"></svg>
        Orders
        </a>
    </li>
    <li>
        <a href="https://getbootstrap.com/docs/5.0/examples/sidebars/#" class="nav-link link-dark">
        <svg class="bi me-2" width="16" height="16"></svg>
        Products
        </a>
    </li>
    <li>
        <a href="https://getbootstrap.com/docs/5.0/examples/sidebars/#" class="nav-link link-dark">
        <svg class="bi me-2" width="16" height="16"></svg>
        Customers
        </a>
    </li>
    </ul>
</div>