/* 전체 스타일 */

:root {
  --dc-blue-dark: #06283D;
  --dc-green: #256D85;
  --dc-blue: #47B5FF;
  --dc-blue-ligt: #DFF6FF;
}

body {
  margin: 0;
  font-family: 'Hahmlet', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1, h2, h3, h4, h5, h6, p {
  font-family: 'Hahmlet' !important;
}

.logo {
  margin: 1rem 4rem 1rem 1rem;
  width: 3rem;
  height: 3rem;
}

.sidebar {
  padding: 5%;
  width: 30%;
  overflow: auto;
}

.sidebar a {
  text-decoration: none;
  display: block;
  padding: 2%;
  color: var(--dc-blue-dark);
}

.sidebar a:hover {
  text-decoration: none;
  display: block;
  padding: 2%;
  background-color: var(--dc-blue-ligt);
}

.content-mypage {
  padding: 2.9% 5% 2% 0;
  width: 70%;
  overflow: auto;
}

.content-mypage .title {
  color: var(--dc-blue-dark);
}